{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
<hr>
<div class="row">
<h3 class="text-primary"> Add post </h3>
<div class="col-12">
<form action="/admin/blog" method='POST' enctype="multipart/form-data"> 
<input type="text"  class="form-control my-2" name="project_name_js"  placeholder="Project name js" >
<input type="text"  class="form-control my-2" name="project_header_js"  placeholder="project header js" >
<input type="file"  class="form-control my-2" name="project_img_js"  placeholder="project img js" >
<input type="text"  class="form-control my-2" name="project_desc_js"  placeholder="Project desc js" >
<input type="text"  class="form-control my-2" name="project_client"  placeholder="Project client" >
<input type="text"  class="form-control my-2" name="project_cat"  placeholder="Project cat" >
<input type="text"  class="form-control my-2" name="close_icon"  placeholder="close_icon" >
<input type="text"  class="form-control my-2" name="close_icon_name"  placeholder="close icon name">
<input type="submit" class="btn btn-primary" value="Add Post">
<hr>
</form>
</div>
<hr>
<div class="col-12">
<h3 class="text-warning"> All Post </h3>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>project close img</th>
            <th>project name js</th>
            <th>project header js</th>
            <th>project img</th>
            <th>project desc</th>
            <th>project client</th>
            <th>project cat</th>
            <th>close icon</th>
            <th>close icon name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
        {% for blog in blogs %}
        
        <tr>
            <td class="text-primary"   scope="row">{{blog.id}}</td>
            <td class="text-primary" > {{blog.project_close_img}}</td>
            <td class="text-primary" > {{blog.project_name_js}}</td>
            <td class="text-primary" >  {{blog.project_header_js}}</td>
            <td class="text-primary" > {{blog.project_img_js}}</td>
            <td class="text-primary" > {{blog.project_desc_js}}</td>
            <td class="text-primary" > {{blog.project_client}}</td>
            <td class="text-primary" > {{blog.project_cat}}</td>
            <td class="text-primary" > {{blog.close_icon}}</td>
            <td class="text-primary" > {{blog.close_icon_name}}</td>
            <td>
                <a href="/admin/blogdelete/{{blog.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/blogupdate/{{blog.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}