{% extends "admin/base.html" %}

{% block content %}

<form action="/admin/feedbackupdate/{{test.id}}" method='POST'enctype="multipart/form-data">
<input type="file" class="form-control my-2" name="commenter_img">
<input type="text" class="form-control my-2" name="commenter_name" placeholder="name"value="{{test.commenter_name}}">
<input type="text" class="form-control my-2" name="commenter_title" placeholder="title"value="{{test.commenter_title}}">
<input type="text" class="form-control my-2" name="commenter_twitter" placeholder="title"value="{{test.commenter_twitter}}">
<input type="text" class="form-control my-2" name="commenter_facebook" placeholder="title"value="{{test.commenter_facebook}}">
<input type="text" class="form-control my-2" name="commenter_linkedin" placeholder="title"value="{{test.commenter_linkedin}}">
<input type="submit" class="btn btn-primary" value="feedback  update">

</form>


{% endblock %}