{% extends "admin/base.html" %}

{% block content %}
<div class="container-sm">
<hr>
<h3 class="text-primary"> Update feedback heading</h3>
<form action="/admin/feedbackheadingupdate/{{feed.id}}" method='POST'>
<input type="text" class="form-control my-2" name="testi_subheading" placeholder="sub heading" value="{{testi_subheading}}">
<input type="text" class="form-control my-2" name="testi_heading" placeholder="heading"value="{{testi_heading}}">
<hr>
<input type="submit" class="btn btn-primary" value="feedback head update">
<hr>
</form>
</div>

{% endblock %}