{% extends "admin/base.html" %}

{% block content %}

<h3>Add logo</h3>
<form action="/admin/logo" method='POST' enctype="multipart/form-data">
    <input type="text" class="form-control my-2"name="logo_name"placeholder="logo name">
    <input type="file" class="form-control my-2"name="logo_img"placeholder="logo img">
    <input type="submit" class="btn btn-primary" value="Add logo">

</form>
<hr>
<h3 class="my-3"> Logo</h3>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>logo name</th>
            <th>logo img</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for logo  in logos %}

        <tr>
            <td scope="row">{{logo.id}}</td>
            <td>{{logo.logo_name}}</td>
            <td>{{logo.logo_img}}</td>
            <td>
                <a href="/admin/logodelete/{{logo.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/logoupdate/{{logo.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>



{% endblock %}