{% extends "admin/base.html" %}

{% block content %}
<div class="container-sm">
<hr>
<h3 class="text-primary"> menu update</h3>
<form action="/admin/menuupdate" method='POST'>
<input type="text"  class="form-control my-2" name="menu_subheading"  placeholder="menu subheading" >
<input type="text"  class="form-control my-2" name="menu_heading"  placeholder="menu heading" >
<input type="text"  class="form-control my-2" name="menu_button_name"  placeholder="menu button name" >
<hr>
<input type="submit" class="btn btn-primary" value="update menu">
<hr>
</form>
</div>
{% endblock %}