{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
<hr>
<div class="row">
<h3 class="text-primary" > Add menu</h3>
<div class="col-12">
<form action="/admin/menu" method='POST' enctype="multipart/form-data">
    <input type="text" class="form-control my-2"name="menu_subheading"placeholder=" menu subheading">
    <input type="text" class="form-control my-2"name="menu_heading"placeholder=" menu heading">
    <input type="text" class="form-control my-2"name="menu_button_name"placeholder="menu button name ">
<hr>
    <input type="submit" class="btn btn-primary" value="Add menu">
    <hr>
</form>
</div>
<hr>

<div class="col-12">
<h3 class="text-warning">site heading</h3>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>menu_subheading</th>
            <th> menu_heading</th>
            <th>menu_button_name</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
    <tbody>
        {% for menu  in menus %}

        <tr>
            <td class="text-primary" scope="row">{{menu.id}}</td>
            <td class="text-primary" >{{menu.menu_subheading}}</td>
            <td class="text-primary">{{menu.menu_heading}}</td>
            <td class="text-primary" >{{menu.menu_button_name}}</td>
           
            <td>
                <a href="/admin/menudelete/{{menu.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/menuupdate/{{menu.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>


{% endblock %}