{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
<hr>
<div class="row">
<h3 class="text-primary"> Portfolio heading </h3>
<div class="col-12">
<form action="/admin/porthead" method='POST'>
<input type="text"  class="form-control my-2" name="portfolio_subheading"  placeholder="portfolio subheading" >
<input type="text"  class="form-control my-2" name="portfolio_heading"  placeholder="portfolio heading" >
<input type="submit" class="btn btn-primary" value="Add heading">
<hr>
</form>
</div>
<hr>

<div class="col-12">
<h3 class="text-warning"> Heading</h3>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>sub heading</th>
            <th>heading</th>
            <th>Actions</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
    <tbody>
        {% for porthead  in portheads %}
        
        <tr>
            <td  class="text-primary" scope="row">{{porthead.id}}</td>
            <td  class="text-primary">{{porthead.portfolio_subheading}}</td>
            <td  class="text-primary">{{porthead.portfolio_heading}}</td>
        
            <td>
                <a href="/admin/portheaddelete/{{porthead.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/portheadupdate/{{porthead.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
{% endblock %}