{% extends "admin/base.html" %}

{% block content %}
<div class="container-sm">
<hr>
<h3 class="text-primary"> Update post</h3>

<form action="/admin/postupdate/{{post.id}}" method='POST' enctype="multipart/form-data">
<input type="text"  class="form-control my-2" name="project_name" value="{{post.project_name}}"  placeholder="Project name" >
<input type="file"  class="form-control my-2" name="project_img"  value="{{post.project_img}}"   placeholder="Project img">
<input type="text"  class="form-control my-2" name="project_header" value="{{post.project_header}}"  placeholder="Project header" >
<hr>
<input type="submit" class="btn btn-primary" value="Update Post">
<hr>
</form>
</div>

{% endblock %}