{% extends "admin/base.html" %}

{% block content %}

<h3>Add services head</h3>
<form action="/admin/serviceshead" method='POST'>
    <input type="text" class="form-control my-2"name="services_subheading"placeholder="services sub head">
    <input type="text" class="form-control my-2"name="services_heading"placeholder="services head">
    <input type="submit" class="btn btn-primary" value=" add services head">

</form>
<hr>
<h3 class="my-3"> Services</h3>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>sub head</th>
            <th>head</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for service in services %}

        <tr>
            <td scope="row">{{service.id}}</td>
            <td>{{service.services_subheading}}</td>
            <td>{{service.services_heading}}</td>
            <td>
                <a href="/admin/servicesheaddelete/{{service.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/servicesheadupdate/{{service.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>


{% endblock %}